<div>
  <app-header></app-header>
</div>
<div class="resumidor-container">
  <h1>Resumidor</h1>


  <!-- <select [(ngModel)]="selectedOption" class="styled-select">
    <option *ngFor="let option of ['BanChile', 'BCI', 'Fintual', 'Santander']" [value]="option">{{option}}</option>
  </select> -->
  


  <div class="resumidor-config">
    <app-custom-select class="custom-select" [selectionKey]="'option'"></app-custom-select>
       
    <!-- <button (click)="onSend()" class="styled-button">Enviar</button> -->
    <app-send-button 
        [selectedOption]="selectedOption" 
        [messageText]="message"
        [messageContext]=1
        (sendComplete)="handleSendComplete($event)">
    </app-send-button>
  </div>
  <!-- <div *ngIf="loading" class="loading-indicator">
    <mat-spinner diameter="30"></mat-spinner>
  </div> -->

  <!-- EJEMPLO -->
  <!-- <div class="response-container">
    <h2>Título de Nivel 2</h2>
    <p>Este es un párrafo de ejemplo. Puedes ver cómo los márgenes y la altura de la línea se aplican automáticamente.
    </p>
    <h3>Título de Nivel 3</h3>
    <p>Otro párrafo para mostrar el estilo. <strong>Este texto está en negrita</strong> para resaltar la importancia.
    </p>
    <h4>Título de Nivel 4</h4>
    <p>Aquí hay una lista con viñetas:</p>
    <ul>
      <li>Elemento de la lista uno</li>
      <li>Elemento de la lista dos</li>
      <li>Elemento de la lista tres</li>
    </ul>
    <p>Texto final para completar el ejemplo de estilos.</p>
  </div> -->
  <!-- FIN EJEMPLO -->

  <div class="response-container" *ngIf="response && !loading">
    <div [innerHTML]="response | markdown"></div>
  </div>
  <!-- <app-export-pdf [fileName]="pdfName + selectedOption" [contentHtml]="response | markdown" *ngIf="response && !loading"></app-export-pdf> -->

</div>
<app-export-pdf [fileName]="pdfName + selectedOption" [contentHtml]="response | markdown" *ngIf="response"></app-export-pdf>