

.login-container {
  margin-top: 10%;
  margin-right: 30%; 
  margin-left: 20%;
  background: rgba(255, 255, 255, 0.1); /* Fondo transparente */
  backdrop-filter: blur(10px); /* Desenfoque del fondo */
  -webkit-backdrop-filter: blur(10px); /* Desenfoque del fondo para Safari */
  border-radius: 10px; /* Bordes redondeados */
  border: 3px solid rgba(255, 255, 255, 0.3); /* Borde con transparencia */
  min-height: 500px; /* Altura mínima de 100% de la vista */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  }
  
  h2 {
    margin-bottom: 20px;
    color: white;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    color: white;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 20px;
  }
  
  .forgot-password {
    display: block;
    margin-top: 5px;
    text-align: left;
    color: white;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: white;
    background: #004a8f;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #00407c;
  }
  
  .alternative-login {
    margin-top: 20px;
  }
  
  .alternative-login p {
    margin-bottom: 10px;
    color: white;
  }
  
  .btn-outline {
    width: 40px;
    border-radius: 20;
    margin: 2px;
    padding: 10px;
    color: white;
    background-color: #004a8f;
    border: 0px solid rgb(111, 111, 111);
    cursor: pointer;
  }
  
  .btn-outline:hover {
    background-color: #00407c;
  }
  