/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .content {
    display: flex;
    margin-top: 70px; /* Ajuste para que el contenido no se superponga al header */
  }
  
  app-chat {
    width: 30%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
